{% extends "base.html" %}
{% block title %}GPStuy{% endblock %}
{% block content %}
    <div class="container">
        <br>
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
        <h1>Today is {{today}}{% if day_info %} ({{day_info}}) {% endif %}</h1>
        <div class="form-group">
          <form action="/bell_schedule" method="POST">
            <select name="schedule_choice" id="schedule_choice" onchange="this.form.submit()">
                <option value="REGULAR" {% if option=='REGULAR' %} selected {% endif %}>Regular</option>
                <option value="HOMEROOM" {% if option=='HOMEROOM' %} selected {% endif %}>Homeroom</option>
                <option value="CONFERENCE" {% if option=='CONFERENCE' %} selected {% endif %}>Conference</option>
            </select>
          </form>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Period</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
            </tr>
          </thead>
          <tbody>
            {% if option == 'HOMEROOM' %}

              {% for num in range(3) %}
                {% if "-1" + num|string == current_period %}
                <tr bgcolor="#FF0000">
                  <th scope="row">{{num+1}} Walking Time</th>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

                <tr {% if num == current_period %} bgcolor="#FFFF00" {% endif %}>

                  <th scope="row">{{num+1}}</th>
                    <td>{{periods[num][0]}}</td>
                    <td>{{periods[num][1]}}</td>
                </tr>
              {% endfor %}

              {% if "-1" + num|string == current_period %}
              <tr bgcolor="#FF0000">
                <th scope="row">Homeroom Walking Time</th>
                  <td></td>
                  <td></td>
              </tr>
              {% endif %}

              <tr {% if num == current_period %} bgcolor="#FFFF00" {% endif %}>

                <th scope="row">Homeroom</th>
                  <td>{{periods[3][0]}}</td>
                  <td>{{periods[3][1]}}</td>
              </tr>

              {% for num in range(4, 11) %}
                {% if "-1" + num|string == current_period %}
                <tr bgcolor="#FF0000">
                  <th scope="row">{{num}} Walking Time</th>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

                <tr {% if num == current_period %} bgcolor="#FFFF00" {% endif %}>

                  <th scope="row">{{num}}</th>
                    <td>{{periods[num][0]}}</td>
                    <td>{{periods[num][1]}}</td>
                </tr>
              {% endfor %}

            {% else %}

              {% for num in range(10) %}
                {% if "-1" + num|string == current_period %}
                <tr bgcolor="#FF0000">
                  <th scope="row">{{num+1}} Walking Time</th>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

                <tr {% if num == current_period %} bgcolor="#FFFF00" {% endif %}>

                  <th scope="row">{{num+1}}</th>
                    <td>{{periods[num][0]}}</td>
                    <td>{{periods[num][1]}}</td>
                </tr>

              {% endfor %}
            {% endif %}

              <tr {% if current_period == -2 or  current_period == -3 %} bgcolor="#FFFF00" {% endif %}>

                <th scope="row">Non-School Time</th>
                  <td>{{buffer[0]}}</td>
                  <td>{{buffer[1]}}</td>
              </tr>
          </tbody>
        </table>

    </div>

{% endblock %}
