<!DOCTYPE html>
<html>
  <head>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

	  <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css')}}">

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <!--- This is the webpage title --->
    <title>{% block title %}GPStuy{% endblock %}</title>
  </head>
  <body>
	<!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">GPStuy</a>
    </nav>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="https://cdn3.iconfinder.com/data/icons/glypho-travel/64/gps-navi-arrow-circle-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
        GPStuy
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
        <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Zip Code" name="search" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

		{% block content %}
		{% endblock %}

    <hr>
		<footer> <center>&copy; GPStuy</center> </footer>


    <script>
    </script>
  </body>
</html>
