{% extends "base.html" %}
{% block title %}GPStuy{% endblock %}
{% block content %}
<div class="container">
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-7">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Stuy_building.jpg" alt="Stuyvesant">
      </div>
      <div class="col-4">
        <div class="row"><h4>Start</h4></div>
        <div class="row">End</div>
      </div>


    </div>

  </div>
</div>

{% endblock %}
