{% extends "base.html" %}
{% block title %}GPStuy{% endblock %}
{% block content %}
<div class="container">
  <br>
  {% if name %}
  <form action = "/schedule_updater" method="POST">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Period</th>
          <th scope="col">Room</th>
        </tr>
      </thead>
      <tbody>
        {% for num in range(10) %}
        <tr>
          <th scope="row">{{num+1}}</th>
            <td><input type="text" name="{{'period' + (num + 1)|string}}" placeholder = "{{periods[num]}}" class="form-control" required autofocus></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Submit Changes</button>
  </form>
  {% endif %}
</div>

{% endblock %}
